.backgroundImageStyle {
    background-image: url('https://img.freepik.com/premium-photo/table-restaurant-with-lights-background_867452-793.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .contentContainerStyle {
    padding: 20px;
    border-radius: 8px;
    color: black;
    margin-top: 20px;
  
  }
  